body {
  margin: 0;
  color: #0e0f18;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 50%;
  margin: 0 auto;
}

.calculator-container {
  width: 100%;
}

.single-button {
  display: flex;
  justify-content: center;
  border: 1px solid #d1d1d1;
  padding: 0;
  margin: 0;
  background-color: #e0e0e0;
}

.normal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.unique {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

#input {
  display: flex;
  box-sizing: border-box;
  border: 1px solid #d1d1d1;
  background-color: #858694;
  color: white;
  height: 68px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  font-size: 40px;
}

#orange {
  background-color: #f5913e;
}
