body {
  margin: 0;
  color: #0e0f18;
}

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 40%;
  margin: 0 auto;
}

.calculator-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.gray,
.orange {
  border: 1px solid #d1d1d1;
  padding: 0;
}

.orange {
  background-color: #f5913e;
}

.gray {
  background-color: #e0e0e0;
}

.unique {
  grid-column: 1/3;
}

#input {
  display: flex;
  box-sizing: border-box;
  border: 1px solid #d1d1d1;
  background-color: #858694;
  color: white;
  height: 68px;
  justify-content: flex-end;
  align-items: center;
  font-size: 40px;
}
